{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <!-- Fluid viewport -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fluid.classless.min.css" />
    <title>URL Shortener</title>
</head>

<body>
    <main class="container">
        <h1>URL Shortener</h1>
        <!-- Contenuto principale -->
        {% block content %}
        <!-- Contenuto dinamico specifico della pagina -->
        {% endblock %}
    </main>
</body>

</html>