{% extends 'shortener/base.html' %}

{% block content %}
    <h2>Dashboard</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Shorten URL</button>
    </form>
    <h3>Your URLs</h3>
    <ul>
        {% for url in urls %}
        <li><a href="{{ url.get_short_url }}">{{ url.short_url }}</a></li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'profile' %}">Profile</a></p>
    <p><a href="{% url 'logout' %}">Logout</a></p>
{% endblock %}